body{
    background-image: url(background.jpg);
}
#form{
    height: auto;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(141, 184, 141);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
h1{
    text-align: center;
}
#forgot{
    font-weight: bolder;
    color: rgb(15, 15, 167);
}
#forgot:hover{
    color: rgb(238, 41, 10);
}
#regis{
    height: 30px;
    border: 1.5px solid black;
    border-radius: 10px;
    color: rgb(85, 64, 10);
    font-size: 1em;
    font-weight: bold;
    background: linear-gradient(180deg, rgb(208, 180, 128), rgb(234, 126, 86));
}
#regis:hover{
    color: rgb(243, 241, 238);
}
form p{
    color: rgb(14, 80, 106);
    font-weight: bolder;

}